* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
html {
  font-size: 26.6667vw;
}
body {
  background: #fff;
  font-size: 0.14rem;
  font-family: -apple-system, Helvetica, sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: #666;
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: none;
}
img {
  vertical-align: middle;
}
i {
  font-style: normal;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
}
#header .left {
  width: 0.8rem;
  height: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left a {
  background: url(../images/sprites.png);
  background-size: 2rem 2rem;
  background-position: 0 -1.1rem;
  width: 0.58rem;
  height: 0.21rem;
  display: block;
}
#header .center {
  flex: 1;
  display: flex;
  align-items: center;
}
#header .center form {
  width: 100%;
  position: relative;
}
#header .center form i {
  width: 0.21rem;
  height: 0.21rem;
  background-image: url(../images/sprites.png);
  background-size: 2rem 2rem;
  background-position: -0.58rem -1.1rem;
  position: absolute;
  left: 0.05rem;
  top: 0.06rem;
}
#header .center form input {
  width: 100%;
  height: 0.3rem;
  border-radius: 0.15rem;
  padding-left: 0.3rem;
}
#header .right {
  width: 0.5rem;
  height: 0.4rem;
}
#header .right a {
  display: block;
  color: #fff;
  text-align: center;
  line-height: 0.4rem;
}
#footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #fff;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25%;
}
#footer ul li a {
  display: block;
  text-align: center;
}
#footer ul li a img {
  width: 0.65rem;
  height: 0.5rem;
}
#header {
  background-color: #ccc;
}
#header .left {
  width: 0.4rem;
  height: 0.4rem;
}
#header .left .icon-back {
  background-image: url(../images/sprites.png);
  background-size: 2rem 2rem;
  background-position: -0.2rem 0;
  width: 0.2rem;
  height: 0.2rem;
}
#header .right {
  width: .4rem;
  height: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right .icon-menu {
  background-image: url(../images/sprites.png);
  background-size: 2rem 2rem;
  background-position: -0.6rem 0;
  width: 0.2rem;
  height: 0.2rem;
}
#main {
  display: flex;
  padding-top: .4rem;
  padding-bottom: .5rem;
  height: 100vh;
  overflow: hidden;
}
#main .category-left {
  width: 0.85rem;
  height: 100%;
}
#main .category-left .swiper-container {
  height: 100%;
}
#main .category-left .swiper-container .swiper-slide {
  height: auto;
}
#main .category-left ul li a {
  display: block;
  height: 0.45rem;
  text-align: center;
  line-height: .45rem;
  background: #ccc;
}
#main .category-left ul li.active a {
  background-color: #fff;
  color: #e93b3d;
}
#main .category-right {
  flex: 1;
  padding: .07rem;
}
#main .category-right .swiper-container {
  height: 100%;
}
#main .category-right .swiper-container .swiper-slide {
  height: auto;
}
#main .category-right .banner img {
  width: 100%;
}
#main .category-right .jd-brand {
  margin-top: .1rem;
}
#main .category-right .jd-brand ul {
  display: flex;
  flex-wrap: wrap;
}
#main .category-right .jd-brand ul li {
  width: 33.33%;
}
#main .category-right .jd-brand ul li a {
  display: block;
  text-align: center;
}
#main .category-right .jd-brand ul li a img {
  width: .7rem;
}
#main .category-right .jd-brand ul li a span {
  display: block;
}
